<!--schema generator: https://www.jamesdflynn.com/json-ld-schema-generator/ -->
<!-- usage: http://searchengineland.com/schema-markup-structured-data-seo-opportunities-site-type-231077-->
<script type="application/ld+json">
</script>
<footer class="footer">
	<div style="background-color:rgba(120,120,120,1); margin-top:100px;" class="row">
		<div style="margin: auto; padding-top: 30px; padding-bottom: 30px; max-width: 500px;">
			<div style="color:rgba(255,255,255,1)" class="row">
				<div style="text-align: center;" class="col-xs-12">
					<h4>Art Direction &amp; Graphic Design</h4>
					<p style="font-size: 12px;">Omni Channel | E-commerce | E-mail Marketing | Responsive Design | UX Design | Social Media | Brand Identity | Print &amp; Publishing</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- defer of css via google pagespeed-->
<script async src="{{ site.baseurl }}/dist/js/min/pstant.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
