<meta name=viewport content="width=device-width, initial-scale=1">
<!-- PINTEREST-->
<meta name="p:domain_verify" content="d9dee012459ce944586afe1a29fc7fac" />
<!--favicons from http://realfavicongenerator.net/-->

<!--end favicons -->
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet">
<script>
</script>
<!-- async css-->
<link rel="preload" href="{{ site.baseurl }}/dist/css/min/pstant.min.css" as="style" onload="this.rel='stylesheet'">
<noscript>
	<link rel="stylesheet" href="{{ site.baseurl }}/dist/css/min/pstant.min.css">
</noscript>
<!--end async css-->
<!--<script>
var cb = function() {
	var l = document.createElement('link');
	l.rel = 'stylesheet';
	l.href = '{{ site.baseurl }}/dist/css/min/secondcrop.min.css';
	var h = document.getElementsByTagName('head')[0];
	h.parentNode.insertBefore(l, h);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(cb);
else window.addEventListener('load', cb);
</script>-->
